body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 60px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
}
